{% extends 'base.html.twig' %}
{% block title %}
	connexion
{% endblock %}
{% block body %}

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }}
				,
				<a href="{{ path('app_logout') }}">
					Logout
				</a>
			</div>
		{% endif %}


		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
																																			        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																			        See https://symfony.com/doc/current/security/remember_me.html
																																			
																																			        <div class="checkbox mb-3">
																																			            <label>
																																			                <input type="checkbox" name="_remember_me"> Remember me
																																			            </label>
																																			        </div>
																																			    #}

		{# <button class="btn btn-lg btn-primary" type="submit">
																														Sign in
																													</button> #}


			<div class="container"> <div class="row justify-content-center mt-5">
				<div class="col-lg-6 col-md-9 col-sm-9">
					<div class="card shadow">
						<div class="card-title text-center border-bottom">
							<h2 class="p-3">
								connexion
							</h2>
						</div>
						<div class="card-body">
							<div class="mb-4">
								<label for="username" class="form-label">
									Identifiant
								</label>
								<input type="text" class="form-control" id="username" value="luther" name="username"/>
							</div>
							<div class="mb-4">
								<label for="password" class="form-label">
									Mot de passe
								</label>
								<input value="azerty14AZERTY!" name="password" type="password" class="form-control" id="password"/>
							</div>
							<div class="mb-4">
								<div class="container">
									<div class="row mb-2">
										<div class="col-sm-4">
											<label>
												<input type="checkbox" name="_remember_me">
												Remember me
											</label>
										</div>
										<div class="col-sm-7">
											<label>
											
												Pas encore de compte ? <a href="{{ path('app_registration') }}">crée un</a> 
											</label>
										</div>
									</div>
									<div class="d-grid">
										<button data-turbo="false" type="submit" class="btn text-light main-bg background" id="login_btn">
											Login
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		{% endblock %}
