<div class="blog__details__comment">
	<h5>
		{{ appreciations |length }}
		Appréciations
	</h5>

	{% include "comment/_form.html.twig" %}
	{% for appreciation in appreciations %}
		<div class="blog__details__comment__item">
			<div class="blog__details__comment__item__pic">
				<img src="{{asset('build/profile.jpg')}}" alt="">
			</div>
			<div class="blog__details__comment__item__text">
				<h6>
					{{ appreciation.user.firstName ~' '~ appreciation.user.lastName }}
				</h6>
				<span>
					{{ appreciation.date |format_date( locale='fr') }}
				</span>
				{% if appreciation.grade %}
					<div class="rateyo" data-rateyo-rating="{{ appreciation.grade.getRating }}" data-rateyo-num-stars="5"></div>
				{% endif %}
				{% if appreciation.comment %}
					<p>
						{{ appreciation.comment.commentContent | nl2br }}
					</p>
				{% endif %}
				<div class="blog__details__comment__btns">
					{% if appreciation.comment and appreciation.comment.flag == 'a' %}
						<label class="badge bg-success">
							Approuvé
						</label>
					{% else %}
						<label class="badge bg-primary">
							Pending
						</label>
					{% endif %}
					{% if (appreciation.comment and appreciation.comment.flag == 'w' and app.user == appreciation.user) or (appreciation.comment == null and app.user == appreciation.user) %}

						<!-- Button trigger modal -->
						<a type="button" class="" data-bs-toggle="modal" data-bs-target="#modal{{ app.user.idUsers }}">
							<i class="fa fa-pencil"></i>
						</a>

						<!-- Modal -->
						<div class="modal fade" id="modal{{ app.user.idUsers }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							{% include "comment/editDialogComment.html.twig" with {form: appreciation.form, grade:appreciation.grade } only %}
						</div>

					{% endif %}

					{# <a href="#">Like</a> #}
				</div>
			</div>
		</div>
	{% endfor %}


</div>
