{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<section class="hero">
		<div class="hero__slider owl-carousel">
			<div class="hero__item set-bg" data-setbg="{{ asset('build/hero-1.jpg') }}">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-8">
							<div class="hero__text">
								<h2>
									Making your life sweeter one bite at a time!
								</h2>
								<a href="#" class="text-decoration-none primary-btn">
									Our cakes
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero__item set-bg" data-setbg="{{ asset('build/hero-1.jpg') }}">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-8">
							<div class="hero__text">
								<h2>
									Making your life sweeter one bite at a time!
								</h2>
								<a href="#" class="primary-btn text-decoration-none">
									Our cakes
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Section Begin -->
	<section class="about spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="about__text">
						<div class="section-title">
							<span>
								Apropos de Nesti
							</span>
							<h2>
								Des gâteaux et des pâtisseries de la maison de la  reine !
							</h2>
						</div>
						<p>
							Fondé en 1984 par les Frères Hernandez, notre établissement a fourni un excelent chocolat
																																																	venant des quatres coins du monde. C'est en 1945, que Marina Hernadez, decide de diversifier
																																																	l'entreprise familiale, sans perdre en prestige. Nesti devint alors une référence dans le
																																																	monde de la patisserie Nous consacrons notre temps à trouver les meilleurs ingrédients à
																																																	travers le monde.
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<img src="{{ asset('https://alidjinou.needemand.com/realisations/nestiPhp/public/build/illeflottantananas1617911494.jpg') }}" {{ stimulus_controller( 'symfony/ux-lazy-image/lazy-image') }} alt="l'image représentant la recette" data-hd-src="{{ asset('build/illeflottantananas1617911494.jpg') }}" class="rounded mx-auto d-block" width="100%" height="400"/>

				</div>
			</div>
		</div>
	</section>


	<!-- Categories Section Begin -->
	<div class="categories">
		<div class="container">
			<div class="row">
				<div class="categories__slider owl-carousel">
					<div class="categories__item">
						<div class="categories__item__icon">
							<span class="flaticon-029-cupcake-3"></span>
							<h5>
								Cupcake
							</h5>
						</div>
					</div>
					<div class="categories__item">
						<div class="categories__item__icon">
							<span class="flaticon-034-chocolate-roll"></span>
							<h5>
								Butter
							</h5>
						</div>
					</div>
					<div class="categories__item">
						<div class="categories__item__icon">
							<span class="flaticon-005-pancake"></span>
							<h5>
								Red Velvet
							</h5>
						</div>
					</div>
					<div class="categories__item">
						<div class="categories__item__icon">
							<span class="flaticon-030-cupcake-2"></span>
							<h5>
								Biscuit
							</h5>
						</div>
					</div>
					<div class="categories__item">
						<div class="categories__item__icon">
							<span class="flaticon-006-macarons"></span>
							<h5>
								Donut
							</h5>
						</div>
					</div>
					<div class="categories__item">
						<div class="categories__item__icon">
							<span class="flaticon-006-macarons"></span>
							<h5>
								Cupcake
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	{% if lastRecipes %}
		<!-- Related Products Section Begin -->
		<section class="related-products spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>
								Related Products
							</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="related__products__slider owl-carousel">
						{% for recipe in lastRecipes %}
							<div class="col-lg-3">
								<div class="product__item">
									<div class="product__item__pic set-bg" data-setbg="https://alidjinou.needemand.com/realisations/nestiPhp/public/images/{{ recipe.getImageName }}">
										<div class="product__label">
											<span>
												{{recipe.category.name}}
											</span>
										</div>
									</div>
									<div class="product__item__text">
										<h6>
											<a class="text-decoration-none" href="{{ path('recipe_show', {'id':recipe.idRecipe}) }}">
												{{ recipe.name }}
											</a>
										</h6>
										<div class="product__item__price">
											<div class="rateyo fs-md-6 d-inline-block" data-turbo="false" data-rateyo-rating="{{ recipe.getTotalGrades }}" data-rateyo-num-stars="5"></div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</section>
	{% endif %}
	<!-- Testimonial Section Begin -->
	<section class="testimonial spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<span>
							Témoignage
						</span>
						<h2>
							ce que nos clients disent
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testimonial__slider owl-carousel">
					{% for appreciation in  appreciations %}
						<div class="col-lg-11">
							<div class="testimonial__item">
								<div class="testimonial__author">
									<div class="testimonial__author__pic">
										<img src="{{asset('build/profile.jpg')}}" alt="">
									</div>
									<div class="testimonial__author__text">
										<h5>
											{{ appreciation.user.firstName ~' '~ appreciation.user.lastName }}
										</h5>
										<span>
											{{ appreciation.date |format_date( locale='fr') }}
										</span>
									</div>
								</div>
								{# <div class="rating">
																																																																																																							<span class="icon_star"></span>
																																																																																																							<span class="icon_star"></span>
																																																																																																							<span class="icon_star"></span>
																																																																																																							<span class="icon_star"></span>
																																																																																																							<span class="icon_star-half_alt"></span>
																																																																																																						</div> #}
								{% if appreciation.grade %}
									<div class="rating rateyo" data-rateyo-rating="{{ appreciation.grade.getRating }}" data-rateyo-num-stars="5"></div>
								{% endif %}
								{# <div class="rating rateyo fs-md-6 d-inline-block" data-turbo="false" data-rateyo-rating="4" data-rateyo-num-stars="5"></div> #}
								<p>
									{% if appreciation.comment %}

										{{ appreciation.comment.commentContent }}

									{% endif %}
									{# Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt #}
									{# ut labore et dolore magna aliqua viverra lacus vel facilisis. #}
								</p>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>

{% endblock %}
