<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="offcanvas__cart">
		<div class="offcanvas__cart__links">
			{% if app.user %}
				<a href="{{ path('profil') }}" class="text-dark text-decoration-none">
					<i class="me-2 far fa-user-circle"></i>
					Profileee
				</a>
			{% endif %}
		</div>
		<div class="offcanvas__cart__item">
			<a href="#">
				<img src="{{ asset('build/cart.png') }}" alt="">
				<span class="shopping_cart">
					0
				</span>
			</a>
		</div>
	</div>
	<div class="offcanvas__logo">
		<a href="./index.html">
			<img src="img/logo.png" alt="">
		</a>
	</div>
	<div id="mobile-menu-wrap"></div>
	<div class="offcanvas__option">
		<ul>
			{% if app.user %}

				<li class="pt-1">
					<a class="" href="{{ path('app_logout') }}">
						<i class="me-2 fas fa-sign-out-alt"></i>
						Déconnexion
					</a>
				</li>
			{% else %}
				<li class="pt-1">
					<a class="" href="{{ path('app_login') }}">
						<i class="me-2 fas fa-sign-out-alt"></i>
						Connexion
					</a>
				</li>

			{% endif %}


		</ul>
	</div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="header__top__inner">
						<div class="header__top__left">
							<ul>
								{% if app.user %}
									<li class="pt-1">
										<a class="" href="{{ path('app_logout') }}">
											<i class="me-2 fas fa-sign-out-alt"></i>
											Déconnexion
										</a>
									</li>
								{% else %}
									<li class="pt-1">
										<a class="" href="{{ path('app_login') }}">
											<i class="me-2 fas fa-sign-out-alt"></i>
											Connexion
										</a>
									</li>
								{% endif %}

							</ul>
						</div>
						<div class="header__logo ">
							<a href="{{ path('index') }}">
								<img class="w-50" src="{{ asset('https://alidjinou.needemand.com/realisations/nestiShops/public/build/logo.png') }}" alt="">
							</a>
						</div>
						<div class="header__top__right">
							<div class="header__top__right__links">
								{% if app.user %}
									<a href="{{ path('profil') }}" class="text-dark text-decoration-none">
										<i class="me-2 far fa-user-circle "></i>
										Profile
									</a>
								{% endif %}
							</div>
							<div class="header__top__right__cart">
								<a href="{{ path('cart') }}">
									<img src="{{ asset('build/cart.png') }}" alt="">
									<span class="shopping_cart">
										0
									</span>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="header__menu mobile-menu">
					<ul>
						<li class=" {% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">
							<a class="text-decoration-none" href="{{ path('index') }}">
								Accueil
							</a>
						</li>
						<li class="{% if app.request.attributes.get('_route') == 'recipes' or app.request.attributes.get('_route') == 'recipe_show' %}active{% endif %}">
							<a class="text-decoration-none" href="{{ path('recipes') }}">
								Recettes
							</a>
						</li>
						<li class="{% if app.request.attributes.get('_route') == 'articles' or app.request.attributes.get('_route') == 'article_show' %}active{% endif %}">
							<a class="text-decoration-none" href="{{ path('articles') }}">
								Marcher
							</a>
						</li>
						<li class="{% if app.request.attributes.get('_route') == 'suggestion' %}active{% endif %}">
							<a class="text-decoration-none" href="{{ path('suggestion') }}">
								Nos Suggestions
							</a>

						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
