{# {{ form_start(form, {attr: {class: 'js-filter-form d-block fexed_top position-sticky'}} ) }}
<div class="spinner-border js-loading" role="status" aria-hidden="true" style="display:none">
    <span class="sr-only">Loading...</span>
</div>
{{ form_row(form.q) }}


<h4>
    Catégories
</h4>
{{ form_row(form.categories) }}
<button type="submit" class="btn btn-primary w-100  ">Filtrer</button> {{ form_end(form) }} #}

<div class="container">
	{{ form_start(form, {attr: {class: 'js-filter-form row '}}
	) }}
	<div class="col-4 col-sm-3 p-0 h-100">
		{{ form_widget(form.categories, {attr: {id: 'categories', class:'h-100 form-select'} }) }}
	</div>
	<div class="col col-sm ps-0">
		{{ form_widget(form.q, {attr: { class:'w-100 '} }) }}
	</div>
	<div class=" col-1 col-sm-1">
		<button type="submit">
			<i class="fa fa-search"></i>
		</button>
	</div>
	{{ form_end(form) }}
</div>
