{# <div class="col-sm-6 col-md-6 col-lg-4 mb-3" id="recipe-{{ recipe.idRecipe }}">
    <div class="card">
        <a href="{{ path('recipe_show', {'id':recipe.idRecipe}) }}"
           class="text-muted text-secondary text-decoration-none">

            <img src="https://alidjinou.needemand.com/realisations/nestiPhp/public/images/{{ recipe.getImageName }}" {{ stimulus_controller( 'symfony/ux-lazy-image/lazy-image') }}
                 data-hd-src="https://alidjinou.needemand.com/realisations/nestiPhp/public/images/{{ recipe.getImageName }}" {# Optional but avoids having a page jump when the image is loaded #}
                 {# width="100%" height="200"/>
        </a> #}
        {# <img src="{{asset('build/illeflottantananas1617911494.jpg')}}" class="img-fluid h-50 img-thumbnail rounded-top card-img-top" alt="..."> #}
        {# <div class="card-body h-auto">
            <h5 class="card-title">
                {{ recipe.name }}
            </h5>
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-between">
			<span>
				<div class="rateyo fs-md-6 d-inline-block" data-turbo="false" data-rateyo-rating="{{ recipe.getTotalGrades }}"
                     data-rateyo-num-stars="5"></div>
			
				{{ recipe.grades | length > 0 ? recipe.getTotalGrades ~'/5' }}
				<br>

				<span>
					{{ pluralize(recipe.grades | length, 'évaluation') }}
				</span>
			</span>
            <span>
				{{ pluralize(recipe.comments | length, 'commentaire') }}

			</span>
        </div>
    </div>
</div>  #}

	<div class="col-lg-3 col-md-6 col-sm-6" id="recipe-{{ recipe.idRecipe }}">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="https://alidjinou.needemand.com/realisations/nestiPhp/public/images/{{ recipe.getImageName }}">
                <div class="product__label">
                    <span>
                        {{recipe.category.name}}
                    </span>
                </div>
            </div>
            <div class="product__item__text">
                <h6>
                    <a class="text-decoration-none" href="{{ path('recipe_show', {'id':recipe.idRecipe}) }}">
                        {{ recipe.name }}
                    </a>
                </h6>
                <div class="product__item__price">
                    <div class="rateyo fs-md-6 d-inline-block" data-turbo="false" data-rateyo-rating="{{ recipe.getTotalGrades }}" data-rateyo-num-stars="5"></div>
                </div>
                {# <div class="cart_add">
                                                                                                                                                                <a href="#">
                                                                                                                                                                    Add to cart
                                                                                                                                                                </a>
                                                                                                                                                            </div> #}
            </div>
        </div>
    </div>