{% extends 'base.html.twig' %}

{% block title %}Hello RecipesController!
{% endblock %}

{% block body %}
{# <style>
	    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>
	
	<div class="example-wrapper">
	    <h1>Hello {{ controller_name }}! ✅</h1>
	
	    This friendly message is coming from:
	    <ul>
	        <li>Your controller at <code><a href="{{ 'F:/dev/Projets/web/nestiShops/src/Controller/RecipesController.php'|file_link(0) }}">src/Controller/RecipesController.php</a></code></li>
	        <li>Your template at <code><a href="{{ 'F:/dev/Projets/web/nestiShops/templates/recipes/index.html.twig'|file_link(0) }}">templates/recipes/index.html.twig</a></code></li>
	    </ul>
	</div> #}
<div class="container mt-5">
	<div
		class="row">
		{# <div class="col-sm-6 col-md-4 col-lg-3"></div>
														        <div class="col-sm-6 col-md-4 col-lg-3"></div>
														        <div class="col-sm-6 col-md-4 col-lg-3"></div> #}
		<h1 class="text-center text-white "> Liste des recettes </h1>
		{% for recipe in recipes %}
			<div class="col-sm-6 col-md-6 col-lg-4 mb-3">
				<div class="card">
					<img src="{{asset('build/illeflottantananas1617911494.jpg')}}" class="max-vh-10 rounded-top card-img-top" alt="...">
					<div class="card-body h-auto">
						<h5 class="card-title">{{ recipe.name }}</h5>
					</div>
					<div class="card-footer bg-transparent d-flex justify-content-between">
						<span>
							{% for i in 1..5 %}
								<span  class="fs-md-6 fa-xs fa-sm fa-lg fa fa-star {{ i <= recipe.getTotalGrades ? 'checked' : '' }} "></span>
							{% endfor %}
							{{ recipe.grades | length > 0 ? recipe.getTotalGrades ~'/5'  }} 
							</br>
							<span > {{pluralize(recipe.grades | length, 'évaluation')}} </span> 
						</span>
						<span> {{pluralize(recipe.comments | length, 'commentaire')}}
							
						</span>

					</div>
				</div>
			</div>

		{% endfor %}
	</div>
</div {% endblock %}
