{% extends 'base.html.twig' %}
{% block title %}
	Detail recette
{% endblock %}
{% block body %}

	<div class="blog-hero set-bg" data-setbg="{{asset('build/blog-hero.jpg')}}">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-7">
					<div class="blog__hero__text">
						<div class="label">
							{{recipe.category.name}}
						</div>
						<h2>
							{{ recipe.name }}
						</h2>
						<ul>
							<li>
								par
								<span>
									{{ recipe.getAuthor }}
								</span>
							</li>
							<li>
								{{ recipe.getDateCreation |format_date( locale='fr') }}
							</li>
							<li>
								{{ appreciations |length }} avis
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog Details Section Begin -->
	<section class="blog-details spad">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-8">
					<div class="blog__details__content">

						<div class="blog__details__recipe">
							<div class="blog__details__recipe__item">
								<h6>
									<i class="far fa-user"></i>
									POUR
								</h6>
								<span>
									{{ recipe.portions }}
									personnes
								</span>
							</div>
							<div class="blog__details__recipe__item">
								<h6>
									<img src="img/blog/details/clock.png" alt="">
									DIFFICULTER
								</h6>
								<span>
									{{ recipe.getDisplayDifficulty }}
								</span>
							</div>
							<div class="blog__details__recipe__item">
								<h6>
									<i class="far fa-clock"></i>
									Préparation
								</h6>
								<span>
									{{ recipe.getTime }}
								</span>
							</div>
						</div>
						<div class="blog__details__recipe__details">
							<div class="row">
								<div class="col-lg-6">
									<div class="blog__details__ingredients">
										<h6>
											Ingredients
										</h6>
										<ul>
											{% for ingredient in ingredientRecipes %}

												<li>
													<span>
														.
													</span>
													{{ ingredient.ingredient.getDisplayName }}


													{% if ingredient.article %}
														<button type="button" id="qte_article_recipe" data-id="{{ ingredient.article.idArticle }}" data-inventory="{{ingredient.article.getInventory}}" class="add_to_cart_from_recipe btn text-white btn-circle">
															<i class="fas fa-plus-circle" aria-hidden="true"></i>
														</button>
													{% endif %}
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="blog__details__ingredients__pic">
										<img src="https://alidjinou.needemand.com/realisations/nestiPhp/public/images/{{ recipe.getImageName }}" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="blog__details__direction">
							<h6>
								Preparations
							</h6>
							<ul>
								{% for paragraph in recipe.paragraphs |sort((a, b) => a.paragraphPosition
                                        <=> b.paragraphPosition) %}
									<li>
										<span>
											{{ paragraph.paragraphPosition }}
											.
										</span>
										{{ paragraph.content| nl2br }}
									</li>
								{% endfor %}
							</ul>
						</div>
						{% include "comment/comments.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
