<div class="w-75 " data-turbo="false">
	{{ form_start(form) }}
	<div class="row mt-2">
		<div class="col-md-6">
			{{ form_label(form.lastName) }}
			{{ form_widget(form.lastName) }}
		</div>
		<div class="col-md-6">
			{{ form_label(form.firstName) }}
			{{ form_widget(form.firstName) }}
		</div>
	</div>


	{{ form_label(form.email) }}
	{{ form_widget(form.email) }}


	{{ form_label(form.username) }}
	{{ form_widget(form.username) }}

	{{ form_label(form.address1) }}
	{{ form_widget(form.address1) }}

	{{ form_label(form.address2) }}
	{{ form_widget(form.address2) }}


	<div class="row mt-2">
		<div class="col-md-6">
			{{ form_label(form.zipCode) }}
			{{ form_widget(form.zipCode) }}
		</div>
		<div class="col-md-6">
			{{ form_label(form.idCity) }}
			{{ form_widget(form.idCity) }}
		</div>
	</div>

	{#    {'attr': { 'autocomplete':'off'}}#}
	{#    <ul id="output"  class="shadow-sm mb-5 bg-body list-unstyled">#}
	{#        <li data-vicopo=" #user_zipCode" type="button" data-vicopo-click='{"#user_zipCode": "code", "#user_idCity": "ville"}' >#}
	{#            <strong data-vicopo-code-postal></strong>#}
	{#            <span data-vicopo-ville></span>#}
	{#        </li>#}
	{#    </ul>#}

	{#    <div id="output" class=" w-100 shadow-sm mb-5 bg-body rounded">#}
	{#        <a class="code_element w-100" href="#" data-vicopo="#user_idCity, #user_zipCode" data-vicopo-click='{"#user_zipCode": "code", "#user_idCity": "ville"}' > <strong data-vicopo-code-postal></strong>#}
	{#            <span data-vicopo-ville></span> </a>#}
	{#    </div>#}
		<div class="mt-5 text-center"> <button type="submit" class="primary-btn text-decoration-none">
			Valider
		</button>
	</div>

	{{ form_end(form) }}
</div>
