{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="mx-auto d-flex justify-content-center row">
            <aside class="col-sm-6 col-md-9 col-lg-6">
                <p>Payment form1</p>

                <article class="card">
                    <div class="card-body p-5">
                        {{ form_start(form) }}

{#                        {{ form_row(form.commentContent) }}#}
{#                        {{ form_row(form.commentTitle) }}#}


                        <div class="form-group">
                            <label for="username">Full name (on the card)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user fa-2x"></i></span>
                                </div>
{#                                <input type="text" class="form-control" name="username" placeholder="" required="">#}
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="form-group">
                            <label for="cardNumber">Card number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card fa-2x"></i></span>
                                </div>
{#                                <input type="text" class="form-control" name="cardNumber" placeholder="">#}
                                {{ form_widget(form.creditCard) }}
                                {{ form_errors(form.creditCard) }}
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiration</span> </label>
                                    <div class="row mb-2">
                                        <div class="col-md-5 col-sm-5 ">

                                            {{ form_widget(form.month) }}
                                        </div>
                                        <span class="col-md-1 col-sm-1">/</span>
                                        <div class="col-md-5 col-sm-5">
                                            {{ form_widget(form.year) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label data-toggle="tooltip" title=""
                                           data-original-title="3 digits code on back side of the card">CVV <i
                                                class="fa fa-question-circle"></i></label>
{#                                    <input class="form-control" required="" type="text">#}
                                    {{ form_widget(form.secretCode) }}
                                </div> <!-- form-group.// -->
                            </div>
                        </div> <!-- row.// -->

                        <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm</button>
                        {{ form_end(form) }}
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->


            </aside> <!-- col.// -->
        </div>
    </div>
{% endblock %}